body {
    width: 960px;
    height: 1440px;
    background-color: rgb(244, 207, 77);
}
.div1 {
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: 600px;
    margin-top: 520px;
    margin-left: 600px;
    border-radius: 15px;
    box-shadow: 7px 7px;
}
.img1 {
    padding-top: 25px;
    width: 400px;
    padding-left: 25px;
    border-radius: 15px;
    border-top-left-radius: 15px;
}
.text {
    padding-left: 25px;
}